<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>JS Inquisitor - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/JSInquisitor.js")
<script type="text/javascript">
            JSInquisitorId = "3c8e4c8a-a7e4-4755-903c-e583bd6004a6";
        </script>

</head>
<body>
    <header>
        <div id="login">
            Hello, <span class="username">@User.Identity.Name</span>!
        </div>
        <nav>
            <div class="menu-item">
                <input id="error-button" type="button" value="Error" />
            </div>
            <div class="menu-item">
                @Html.ActionLink("Home", "Index", "Home")
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="menu-item">
                    @Html.ActionLink("Chart", "Chart", "Home")
                </div>
            }
            <div>
                @Html.ActionLink("About", "About", "Home")
            </div>
            <div>
                @Html.ActionLink("Contact", "Contact", "Home")
            </div>
            <div>
                @Html.ActionLink("F.A.Q.", "FAQ", "Home")
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Log On", "LogOn", "Account")
                </div>
                <div>
                    @Html.ActionLink("Registration", "Registration", "Account")
                </div>
            }
            <div>
                @Html.ActionLink("Log off", "LogOff", "Account")
            </div>
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
