@model Repositories.Models.ErrorModel

@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/Scripts/details.js")
@Scripts.Render("~/Scripts/jquery-ui-1.8.20.js")
@Styles.Render("~/Content/themes/base/jquery.ui.dialog.css")
<fieldset>
    <legend><strong>@Html.DisplayFor(model => model.Message)</strong></legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Agent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Agent)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FileUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileUrl)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Line)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Line)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PageUrl)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Stack)
    </div>
    <div class="display-field stack">
        @Html.DisplayFor(model => model.Stack)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    @if (Model.Events.Length > 0)
    {
        <div>
            <input type="checkbox" class="typeCheckbox" id="click" checked="checked" />
            <label for="click">click</label>

            <input type="checkbox" class="typeCheckbox" id="focus" checked="checked" />
            <label for="focus">focus</label>

            <input type="checkbox" class="typeCheckbox" id="blur" checked="checked" />
            <label for="blur">blur</label>

            <input type="checkbox" class="typeCheckbox" id="keypress" checked="checked" />
            <label for="keypress">keypress</label>

            <input type="checkbox" class="typeCheckbox" id="submit" checked="checked" />
            <label for="submit">submit</label>
        </div>
        <table class="features-table">
            <thead>
                <tr>
                    <td>Event type
                    </td>
                    <td>Target
                    </td>
                    <td>Time after start (milisecond)
                    </td>
                </tr>
            </thead>
            @foreach (var ev in Model.Events)
            {
                <tr>
                    <td class="eventType">@ev.EventType.ToString()</td>
                    <td>
                        @(ev.Target.Length >200 ? ev.Target.Substring(0, 150) + "..." : ev.Target)
                        @if(ev.Target.Length >200)
                        {
                            <span class="showValue">show more</span>
                            <div class="dialog" style="display: none; width: 400px">@ev.Target</div>
                        }
                    </td>
                    <td>@ev.TimeAfterStart</td>
                </tr>
            }

        </table>
    }

</fieldset>
<p>
    <a href="/Error/Error/@ViewBag.BackToList">Back to list</a>
</p>
