@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "GetErrorsTable";
}
<h2>
    Statistic of 
</h2>
<h3>
    @Model[0]["Message"]
</h3>

<div>
    <table class="features-table">
        <thead>
            <tr>
                <td>Agent
                </td>
                <td>File url
                </td>
                <td>Page url
                </td>
                <td>Line
                </td>
                <td>Time
                </td>
            </tr>
        </thead>
        @foreach (var error in Model)
        {
            <tr>
                <td>
                    @error["Agent"]
                </td>
                <td>
                    @error["FileUrl"]
                </td>
                <td>
                    @error["PageUrl"]
                </td>
                <td>
                    @error["Line"]
                </td>
                <td>
                    @error["Time"]
                    <input type="hidden" value="@error["Id"]" class="errorBaseId"/>
                </td>

            </tr>
        }
    </table>
</div>

