@model hakaton.Models.AccountModels.RegisterModel

<div id="signUpBlock">
    <form action="/Account/Registration/" method="post">
        <h3><span></span>PLEASE FILL IN ALL FIELDS</h3>
        <div class="error">@Html.ValidationSummary(true, "Registration was unsuccessful. Please correct the errors and try again.")</div>
        <div style="padding-bottom: 0">
            <div>
                <div>
                    <span>Email <span>*</span></span>
                    <div>
                        @Html.EditorFor(model => model.Email, new { tabindex = "1" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <span>Password <span>*</span></span>
                    <div>
                        @Html.EditorFor(model => model.Password, new { tabindex = 2 })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <span>Confirm password <span>*</span></span>
                    <div>
                        @Html.EditorFor(model => model.ConfirmPassword, new { tabindex = 3 })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
            </div>
            <input id="account-button" type="submit" value="Submit" title="Register" onclick="" style="margin-top: 30px;" />
            <span class="field-validation-error" id="errorText">@ViewBag.ErrorText</span>
        </div>
    </form>
</div>

